.root {
all: unset;
}

.container {
width: 100%;
}


.cardContainer {
  display: flex;
  justify-content: center;
  gap: 3%;
}


@media (max-width: 1075px) {
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    box-sizing: border-box;
    max-width: 1200px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 4%;
    margin: 0 auto;
    }
}

