.root {
    all: unset;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}

/* Sizes */
.sizeSmall {
    padding: clamp(6px, 1vw, 8px) clamp(8px, 1.5vw, 12px);
    font-size: clamp(12px, 1vw, var(--font-size14));
    font-weight: var(--font-regular);
}

.sizeMedium {
    padding: clamp(8px, 1.5vw, 12px) clamp(16px, 2vw, 20px);
    font-size: clamp(14px, 1.2vw, var(--font-size18));
    font-weight: var(--font-bold);
}

.sizeLarge {
    padding: clamp(12px, 2vw, 16px) clamp(20px, 2.5vw, 24px);
    font-size: clamp(16px, 1.4vw, var(--font-size18));
    font-weight: var(--font-bold);
}

/* varients */
.variantOutline {
    border: 2px solid var(--primary-color20);
    color: var(--primary-color20);
}

.variantFill {
    background-color: var(--primary-color20);
    color: var(--gray-color100);
}

/* hover */
.variantFill:hover{
    background-color: var(--primary-color45);
}

.variantOutline:hover {
    border: 2px solid var(--primary-color45);
    color: var(--primary-color45);
}

/* Active */
.variantFill:active {
    background-color: var(--primary-color70);
}

.variantOutline:active {
    border: 2px solid var(--primary-color70);
    color: var(--primary-color70);
}

.variantFill.active {
    background-color: var(--primary-color35);
}

.variantOutline.active {
    border: 2px solid var(--primary-color35);
    color: var(--primary-color35);
}










