.root {
    background-image: url(/public/BackGround.png);
    min-height: 600vh;
    background-size: cover;
    margin-top: 100px;
}

.sectionDivider {
    border: none; 
    border-top: 2px solid var(--gray-color100); 
    width: 70%; 
    margin: 80px auto; 
    opacity: 0.5; 
}